.sort {
    position: absolute;
    right: 0;
    text-align: right;
    background: #656668;
    padding: 12px;
    width: 35vw;
    top: calc(100% - 3px);

    &__list {
        display: none;
    }

    &__option {
        width: 100%;
        text-align: right;
        background: #656668;
        color: white;
        text-transform: uppercase;
        font-size: 0.75rem;
        appearance: none;
        border: none;
        padding: 8px 0;
        cursor: pointer;

        @media (min-width: 769px) {
            font-size: 1rem;
            padding: 12px;
        }
    }
}