.header {
    background-color: var(--header-bg-primary);
    width: 100%;

    &__wrapper {
        height: 60px;
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
    }

}