.noresults {
    margin-top: 10vh;

    &__message {
        color: var(--text-primary);
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 32px;
    }

    &__image {
        display: block;
        max-width: 50%;
        margin: 0 auto;
        filter: grayscale(1);
    }
}