.band {
    &__header {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__image {
        border-radius: 50%;
        width: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: 769px) {
            width: 80px;
        }
    }

    &__genre, 
    &__plays {
        text-transform: uppercase;
        color: var(--text-primary);
        font-size: 0.75rem;
        top: 10px;
        position: relative;

        @media (min-width: 769px) {
            font-size: 1rem;
        }
    }
}