.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__results {
        font-size: 0.75rem;
        color: var(--text-primary);

        @media (min-width: 769px) {
            font-size: 1rem;
        }
    }

    &__select {
        display: block;
        position: absolute;
        right: 24px;
        text-align: right;
        top: 100%;
        width: 150px;
        background: darkgray;
        padding: 8px;
    }
}