.albumList {
    display: flex;
    flex-wrap: wrap;

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: darkgrey;
        font-size: 1.2rem;
        margin-bottom: 16px;
        position: relative;
    }
}